<h1>
    <main><%= title %></main>
    <sub>App is running on port: <%= port %></sub>
</h1>

<nav>
    <section>
        <% if(name=='app'){ %>
            <span>Main</span>
        <% } else { %>
            <a href="/">Main</a>
        <% } %>
    </section>
</nav>
