<!DOCTYPE html>
<html>
    <head>
        <title>Section</title>
        <link rel="stylesheet" href="<%= cssPath %>/main.css"/>
    </head>
    <body class="__<%= name %>">

    <h1>
        <main>Section</main>
        <sub>App is running on port: <%= port %></sub>
    </h1>