<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="__<%= name %>">

    <% include partials/header.ejs %>

    <% for(var i=0; i<3; i++) { %>
    <section>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquam, aperiam aspernatur cupiditate dicta doloremque dolores eaque est facilis fuga, id libero molestias mollitia nemo neque nesciunt omnis placeat porro provident quam quasi quis quo quos ratione repellendus rerum sapiente totam ut voluptates. A accusamus adipisci aliquam amet aspernatur autem beatae commodi culpa cum, delectus doloribus dolorum ducimus eaque eius eligendi est fugiat fugit impedit ipsam laboriosam maxime modi molestiae nam natus nesciunt nihil nulla, optio placeat quibusdam recusandae rem reprehenderit sequi tenetur ut vel, veniam vero. Illo, itaque, voluptas! Impedit, pariatur, quis? Ipsum nihil nisi provident quam tenetur.
    </section>
    <% } %>

    <% include partials/footer.ejs %>

</body>
</html>
