<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="__<%= name %>">

    <% include partials/header.ejs %>

    <h2>
        <%= company %>

        <sub>
            <address>
                <%= address %>
            </address>
        </sub>
    </h2>

    <section>
        <%= about %>
    </section>

    <% include partials/footer.ejs %>

</body>
</html>
