html {
	box-sizing: border-box;

	color: #444;
	font: 14px/1.6 normal Tahoma, sans-serif;
	}

* {
	box-sizing: inherit;
	&:before, &:after {
		box-sizing: inherit;
		}
	}

h1 {
	border-left: 2vw solid #ccc;
	padding-left: 2vw;
	font-size: 2rem;
	color: #666;
	}

section {
	font-size: 1.2rem;
	margin: 2vh 2vw;
	}

nav {
	background: #444;
	color: #eee;
	padding: 1vh 2vw;
	margin: 0 2vw 4vh;

	section {
		margin: 0;
		}

	a, span {
		&:not(:first-child){
			margin-left: 1vw;
			}
		}

	a {
		color: #eee;

		&:hover {
			color: #fff;
			}
		}
	}

header {
	
	}

footer {
	background: #ccc;
	padding: 1vh 2vw;
	margin: 4vh 2vw 0;

	hr {

		}
	}

