$c-main : #444;
$c-alt : #666;
$c-aux : #eee;
$c-inv : #fff;
$c-brand : rgb(62, 209, 232);

html {
	box-sizing: border-box;

	color: $c-main;
	font: 14px/1.6 normal Tahoma, sans-serif;
	}

* {
	box-sizing: inherit;
	&:before, &:after {
		box-sizing: inherit;
		}
	}

h1 {
	border-left: 2vw solid #ccc;
	padding-left: 2vw;
	font-size: 2rem;
	color: $c-alt;
	}

h2 {
	padding-left: 4vw;
	font-size: 1.4rem;
	color: $c-alt;
	}

section {
	font-size: 1.2rem;
	margin: 2vh 2vw;
	}

nav {
	background: #444;
	color: $c-aux;
	padding: 1vh 2vw;
	margin: 0 2vw 4vh;

	section {
		margin: 0;
		}

	a, span {
		&:not(:first-child){
			margin-left: 1vw;
			}
		}

	a {
		color: $c-aux;

		&:hover {
			color: $c-inv;
			}
		}
	}

menu {
	margin: 0 2vw;
	padding: 1vh 2vw;

	li {
		list-style: square outside;
		font-size: 1.2rem;

		a {
			color: $c-alt;
			&:hover {
				color: $c-brand;
				}
			}
		}
	}

header {
	
	}

footer {
	background: #ccc;
	padding: 1vh 2vw;
	margin: 4vh 2vw 0;

	hr {

		}
	}

